body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background: url('about-back.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 10px;
    max-width: 700px;
}

h1 {
    /* color: #ffc107; */
    color: #ff0000;
    margin-bottom: 30px;
}

.check-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.check-item span {
    color: #ff0000;
    font-size: 24px;
    margin-right: 15px;
}

.button {
    display: inline-block;
    background-color: #ff0000;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color:  #00cc3a;
}