* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0a1124;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: #172135;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 400px;
}
.logo {
  text-align: center;
  margin-bottom: 1rem;
}
.logo img {
  width: 60px;
  border-radius: 90px;
}
h2 {
  color: #29a6f6;
  text-align: center;
  margin-bottom: 1rem;
}
.toggle-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.toggle-buttons button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  background-color: #1d2436;
}
.toggle-buttons .active {
  background-color: #29a6f6;
}
form {
  display: none;
  flex-direction: column;
}
form.active {
  display: flex;
}
input {
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #0a1124;
  color: white;
}
button.submit {
  padding: 0.8rem;
  background-color: #17d964;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
@media (max-width: 480px) {
  .container {
    padding: 1rem;
  }
  .toggle-buttons button {
    padding: 0.4rem 0.8rem;
  }
}