body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #111;
    color: white;
  }

  .container {
    /* width: 100%; */
    max-width: 600px;
    margin: auto;
    padding: 40px 20px;
    background: url('bg-texture.jpg') no-repeat center;
    background-size: cover;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
  }

  .logo-icon img{
    width: 40px;
    height: 40px;
    /* background: red; */
    /* border-radius: 50%; */
  }

  .logo-text {
    font-size: 1.5em;
    line-height: 1.2;
  }

  .logo-text span {
    color:#007bff;
  }

  .image-grid {
    margin: 40px 0;
    display: flex; 
    justify-content: center;
    align-items: center;
   
  }

  .image-grid img {
    max-width: 30%;
    min-width: 20%;
    height: 250px;
    border-radius: 8px;
    transform: skewY(-10deg);
    border: 3px solid #111;
  }

  .text-section {
    text-align: center;
    margin-top: 60px;
  }

  .text-section h1 {
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }

  .text-section h1 span {
    color: #007bff;
  }

  .text-section p {
    margin-top: 20px;
    font-size: 1em;
    line-height: 1.5;
    color: #ccc;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .start {
    text-align: center;
    margin-top: 40px;
    font-size: 1.8em;
    font-weight: 800;
  }
  
  .start a {
    color: white;
    text-decoration: none;
    background-color: #ff4d4d;
    border-radius: 15px;
  }