* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }

  a {
    text-decoration: none;
  }

  /* Hero Section */
  .hero {
    width: 100%;
    /* height: 250px; */
    background-color: #ccc;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }

  .hero-img{
    width: 100%;
    height: 400px;
  }

  .hero h1 {
    font-size: 2rem;
    color: #333;
  }

  /* Grid Layout */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    /* padding: 20px; */
    padding: 50px;
    /* max-width: 1200px; */
    margin: auto;
  }

  .product-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }

  .product-card:hover {
    transform: translateY(-5px);
  }

  .product-image {
    /* width: 100%; */
    width: 70%;
    /* height: 180px; */
    height: auto;
    background-color: #e0e0e0;
    /* object-fit: cover; */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; /* Horizontal center */
    align-items: center; 
     margin: 20px auto;
  }

  .product-title {
    padding: 15px;
    font-size: 0.95rem;
    font-weight: 600;
    color: #333;
    margin-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }